*,
html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  align-items: center;
  background: #f7f2f2;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.orange {
  background: orange;
  width: 200px;
  height: 200px;
}

.blue {
  background: blue;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 1000px;
  left: 50px;
}

#write {
  font-size: 40px;
  position: absolute;
  top: 100px;
}
